@import "./css/quizQuestion.css";
@import "./css/results.css";
@import "./css/rules.css";
@import "./css/login.css";
.App {
  text-align: center;
}
.nav {
  background-color: var(--primary);
  padding: 1.25rem 0.5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3rem;
}
.colorWhite {
  color: white;
}
.quiz-card-section-container {
  margin-top: 5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  row-gap: 1.5rem;
}
.quiz-card-container {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid #e5e7eb;
  border-radius: 0.25rem;
  width: 320px;
  height: auto;
}
.quiz-content-container {
  display: flex;
  flex-flow: column wrap;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  row-gap: 0.5rem;
}
.quiz-img {
  width: 320px;
  height: 180px;
}
